input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none!important;
}
.agency-list .ReactTable .rt-th, .ReactTable .rt-td{
  white-space: pre-wrap;
}
.btn--grp {
  display: flex;
  justify-content: space-between;
}

.mr-top10 {
  margin-top: 10px;
}

.add-agency-btn {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
